<nav>
  <ul>
    <li><a href="/home"><img src="../images/home.png"></a> | </li>
    <li><a href="/profile"><img src="../images/user1.png"></a> | </li>
    <li><a href="/settings"><img src="../images/settings.png"></a> | </li>
    <li>
      <form method="post" action="/sign_out">
        <input type="submit" value="Sign Out" id="signout">
      </form>
    </li>
  </ul>
</nav>

<h1><%= flash[:notice] %></h1>
<h1><%= flash[:alert] %></h1>

<div class="homepage">
  <div class="homepage_all_users">
    <h4>Other users you can follow:</h4>
    <ul>
      <% User.all.each do |u| %>
      <div class="users_div">
        <li><img src="<%= u.account.profile_image_url %>" class="homepage_image"></li>
        <li><%= u.username %></li>
        <li><form method="post" action="/follow">
          <input type="submit" value="Follow Me" class="follow_btn">
        </form></li>
        </li>
      </div>
      <% end %>
    </ul>
  </div>

  <div class="homepage_all_posts">

    <% if @current_user.friends.count > 0 %>
      <ul>
        <% @current_user.friends.each do |friend| %>
          <div class="users_div">
            <li><%= friend.posts[0].blog_post %></li>
            <li class="homepage_display_name"><%= friend.username %></li>
            <li><img class="homepage_image" src="<%= friend.account.profile_image_url %>"></li>
          </div>
        <% end %>
      </ul>
    <% else %>
      <h4>Find users to follow... check out the list of users on the left!</h4>
    <% end %>

  </div>
</div>
