  <nav>


  <ul>
    <li><a href="/home"><img src="../images/home.png"></a> | </li>
    <li><a href="/profile"><img src="../images/user1.png"></a> | </li>
    <li><a href="/settings"><img src="../images/settings.png"></a> | </li>
    <li><form method="post" action="/sign_out">
      <input type="submit" value="Sign Out" id="signout">
    </form></li>
  </ul>
  </nav>

  <h1><%= flash[:notice] %></h1>
  <h1><%= flash[:alert] %></h1>

<div class="homepage">
  <div class="homepage_all_users">

    <% if @current_user.followeds.count > 0 %>
      <ul>
        <% @current_user.followeds.each do |fol| %>
          <li><%= fol.username %></li>
        <% end %>
      </ul>

      <p>Total people you are following: <%= @current_user.followeds.count %></p>
    <% else %>
      <p>You currently have no friends.</p>
    <% end %>

    <!-- list of other users -->


    <h3 class="homepage_display_name"><%=User.find(26).username %></h3>
    <br />
    <img class="homepage_image" src="<%= User.find(26).account.profile_image_url %>">
    <br />
    <form method="post" action="/follow">
      <input type="submit" value="Follow Me" class="follow_btn">
    </form>


    <br>

  </div>



  <div class="homepage_all_posts">
  <p>hello</p>

  </div>

</div>
