	<nav>
	<ul>
		<li><a href="/home"><img src="../images/home.png"></a> | </li>
		<li><a href="/profile"><img src="../images/user1.png"></a> | </li>
		<li><a href="/settings"><img src="../images/settings.png"></a> | </li>
		<li><form method="post" action="/sign_out">
  		<input type="submit" value="Sign Out" id="signout">
		</form></li>
	</ul>
	</nav>

	<h1><%= flash[:notice] %></h1>
	<h1><%= flash[:alert] %></h1>

	<div class="wrapper">
		
		<% if @current_user.relationships.count >= 1 %>
			<%= User.find(@current_user.relationships[0].followed_id).username %>
			<%= User.find(@current_user.relationships[1].followed_id).username %>
			<p>Total Followers: <%= @current_user.relationships.count%> </p>
		<% else %>
			<p>You currently have no followers.</p>
		<% end %>

		<!-- list of other users -->

		
	

		<%=User.find(1).username %>
		<img src="<%= User.find(1).account.profile_image_url %>"
		<form method="post" action="/follow">
			<input type="submit" value="Follow Me" class="submit_btn">
		</form>
		<br>
		<%=User.find(4).username %>
		<img src="<%= User.find(4).account.profile_image_url %>"
		<form method="post" action="/follow">
			<input type="submit" value="Follow Me" class="submit_btn">
		</form>
		

	</div>