<nav>
  <ul>
    <li><a href="/home"><img src="../images/home.png"></a> | </li>
    <li><a href="/profile"><img src="../images/user1.png"></a> | </li>
    <li><a href="/settings"><img src="../images/settings.png"></a> | </li>
    <li>
      <form method="post" action="/sign_out">
        <input type="submit" value="Sign Out" id="signout">
      </form>
    </li>
  </ul>
</nav>

<h1><%= flash[:notice] %></h1>
<h1><%= flash[:alert] %></h1>

<div class="homepage">
  <div class="homepage_all_users">

    <% if @current_user.friends.count > 0 %>
      <ul>
        <% @current_user.friends.each do |friend| %>
          <li class="homepage_display_name"><%= friend.username %></li>
        <% end %>
      </ul>

      <p>Total people you are following: <%= @current_user.friends.count %></p>
    <% else %>
      <p>You currently have no friends.</p>
    <% end %>

    <!-- list of all users -->
  <ul>
    <% User.all.each do |u| %>
    <div class="users_div">
      <li><img src="<%= u.account.profile_image_url %>" align="left" class="users_img"></li>
      <li><%= u.username %></li>
      <li><form method="post" action="/follow">
        <input type="submit" value="Follow Me" class="follow_btn">
      </form></li>
      </li>
    </div>
    <% end %>
  </ul>


<!--     <img class="homepage_image" src="friends.account.profile_image_url">
 -->  


    <br>

  </div>



  <div class="homepage_all_posts">
  <p>hello</p>

  </div>

</div>
