<div class="blog_header"><h1 class="blog_name">Stay Tuned</h1></div>
<nav>
  <ul>
  	<li><a href="/home"><img src="../images/home.png"></a> | </li>
  	<li><a href="/profile"><img src="../images/user1.png"></a> | </li>
  	<li><a href="/settings"><img src="../images/settings.png"></a> | </li>
  	<li><form method="post" action="/sign_out">
  		<input type="submit" value="Sign Out" id="signout">
  	</form></li>
  </ul>
</nav>

<div class="profile_wrapper">
<h1><%= flash[:notice] %></h1>

  <div class="left">
    <div class="main_profile">
      <img src="<%= @user.account.profile_image_url %>" align="left">
      <h4><%= @user.username.capitalize %></h4>
      <ul>
        <li><%= @user.posts.count %> Posts</li>
        <li><%= @user.friends.count %> Friends</li>
      </ul>
    </div>
<!-- INPUT FORM -->
    <div class="input_blog">
      <div class="post_media">
        <a href="#" class="text_btn">
        <img src="../images/text.png">Create a blog post</a>
        <a href="#" class="media_btn">
        <img src="../images/media.png">Post a picture</a>
      </div>

      <div class="post_box" >
        <form method="POST" action="/blogposts">
          <textarea name="[post]blog_post" placeholder="Compose new blog post..." class="submit_post" maxlength="150"></textarea>
          <br/>
          <input type="submit" class="submit_post_btn">
        </form>
      </div>

      <div class="media_box"  style="display:none">
        <form method="POST" action="/blogposts">
          <textarea name="[post]blog_media_url" placeholder="Insert media link..." class="submit_post" maxlength="150"></textarea>
          <input type="submit" class="submit_post_btn">
        </form>
      </div>
    </div>
  </div>

<!-- BLOG FEED -->
  <div class="right">
    <div class="blog_feed">
      <ul>
        <h3>POSTS</h3>

        <% @user.posts.reverse.each do |blogpost| %>
          <% if blogpost.blog_post %>

            <li class="recent_posts">

              <div class="post_div">
                <p><%= blogpost.blog_post %></p>
                <%= @user.username.capitalize %> <%= blogpost.blog_post_date.strftime("tuned in on %m/%d/%Y at %I:%M%p") %>
                <form method="post" action="/delete_post">
                  <input type="hidden" name="blogpost_id" value="<%= blogpost.id %>">
                  <input type="submit" value="Delete Post" class="follow_btn">
                </form>
              </div>

            <% else %>

              <div class="post_div">
                <p><img src="<%= blogpost.blog_media_url %>"></p>
                <%= @user.username.capitalize %> <%= blogpost.blog_post_date.strftime("tuned in on %m/%d/%Y at %I:%M%p") %>
                <form method="post" action="/delete_post">
                  <input type="hidden" name="blogpost_id" value="<%= blogpost.id %>">
                  <input type="submit" value="Delete Post" class="follow_btn">
                </form>
              </div>

            </li>

            <% end %>
          <% end %>
      </ul>
    </div>
  </div>
</div>



<!--delete a post button -->


