<div class="blog_header"><h1 class="blog_name"><a href="/home">STAY TUNED</a></h1></div>
<nav>
  <ul>
  	<li><a href="/home"><img src="../images/home.png"></a> | </li>
  	<li><a href="/profile"><img src="../images/user1.png"></a> | </li>
  	<li><a href="/settings"><img src="../images/settings.png"></a> | </li>
  	<li><form method="post" action="/sign_out">
  		<input type="submit" value="Sign Out" id="signout">
  	</form></li>
  </ul>
</nav>

<div class="profile_wrapper test">
<h1><%= flash[:notice] %></h1>

  <div class="left">
    <div class="main_profile">
      <img src="<%= @user.account.profile_image_url %>" align="left">
      <h4><%= @user.username.capitalize %></h4>
      <ul>
        <li><%= @user.posts.count %> Posts</li>
        <li><%= @user.friends.count %> Friends</li>
      </ul>
    </div>
<!-- INPUT FORM -->
    <div class="input_blog">
      <div class="post_media">
        <a href="#" class="text_btn">
        <img src="../images/text.png">Create a blog post</a>
        <a href="#" class="media_btn">
        <img src="../images/media.png">Post a picture</a>
      </div>

      <div class="post_box" >
        <form method="POST" action="/blogposts">
          <textarea name="[post]blog_post" placeholder="Compose new blog post..." class="submit_post" maxlength="150"></textarea>
          <br/>
          <input type="submit" class="submit_post_btn">
        </form>
      </div>

      <div class="media_box"  style="display:none">
        <form method="POST" action="/blogposts">
          <textarea name="[post]blog_media_url" placeholder="Insert media link..." class="submit_post" maxlength="150"></textarea>
          <input type="submit" class="submit_post_btn">
        </form>
      </div>
    </div>

    <div>
      <h3 class="trending_title">TRENDING IN TV</h3>

      <div class="trending">

        <div class="trending_row">
          <div class="column_left">
            <img src="http://media.giphy.com/media/yDr4Hu1ffquBi/giphy.gif">
          </div>
          <div class="column_right">
            <p><strong>CARTOONS</strong></p>
            <a href="http://www.mtv.com/news/1953575/saturday-morning-cartoons/">The End Of An Era: Goodbye, Saturday Morning Cartoons</a>
          </div>
        </div>
    
        <div class="trending_row">
          <div class="column_left">
            <div><img src="http://i.imgur.com/ZbPhm4P.jpg"></div>
          </div>
          <div class="column_right">
            <p><strong>TV SHOWS</strong></p>
            <a href="http://www.eonline.com/news/585603/why-homeland-haters-should-watch-tonight"> Why Homeland Haters Should Watch Tonight</a>
          </div>
        </div>
   
        <div class="trending_row">
          <div class="column_left">
            <img src="http://www.nbc.com/sites/nbcunbc/files/files/styles/nbc_gallery_carousel/public/images/2014/10/05/SNL1664_FAULT_IN_OUR_STARS_1050x1050.jpg?itok=kN0-ncEo">
          </div>
          <div class="column_right">
            <p><strong>COMEDY</strong></p>
            <a href="http://www.mtv.com/news/1953537/fault-in-our-stars-snl-ebola/">Sarah Silverman Goes Hazel Grace In SNL’s ‘Fault In Our Stars’ Spoof</a>
          </div>
        </div>
      
        <div class="trending_row">
          <div class="column_left">
            <img src="http://www.eonline.com/eol_images/Entire_Site/2014829/rs_560x415-140929121207-1024.spoiler-chat.jpg">
          </div>
          <div class="column_right">
            <p><strong>SPOILERS</strong></p>
            <a href="http://www.eonline.com/news/583654/spoiler-chat-how-to-get-away-with-murder-the-walking-dead-bones-grey-s-vampire-diaries-more> Why Homeland Haters Should Watch Tonight">How to Get Away With Murder, The Walking Dead, Bones, Grey's &amp; More!</a>
          </div>
        </div>

        <div class="trending_row">
          <div class="column_left">
            <img src="http://media.comicbook.com/wp-content/uploads/2013/03/star-trek-3.jpg">
          </div>
          <div class="column_right">
            <p><strong>MOVIES NEWS</strong></p>
            <a href="http://www.empireonline.com/news/story.asp?NID=42369">Star Trek 3 Plans Digital Shoot With Claudio Miranda</a>
          </div>
        </div>
      </div>   
    </div>
  </div>

<!-- BLOG FEED -->
  <div class="right">
    <div class="blog_feed">
      <ul>
        <h3 class="post-title">POSTS</h3>

        <% @user.posts.reverse.each do |blogpost| %>
          <% if blogpost.blog_post %>

            <li class="recent_posts">

              <div class="post_div">
                <p class="post_text"><%= blogpost.blog_post %></p>
                <%= @user.username.capitalize %> <%= blogpost.blog_post_date.strftime("tuned in on %m/%d/%Y at %I:%M%p") %>
                <form method="post" action="/delete_post">
                  <input type="hidden" name="blogpost_id" value="<%= blogpost.id %>">
                  <input type="submit" value="Delete Post" class="follow_btn">
                </form>
              </div>

            <% else %>

              <div class="post_div">
                <p><img src="<%= blogpost.blog_media_url %>"></p>
                <%= @user.username.capitalize %> <%= blogpost.blog_post_date.strftime("tuned in on %m/%d/%Y at %I:%M%p") %>
                <form method="post" action="/delete_post">
                  <input type="hidden" name="blogpost_id" value="<%= blogpost.id %>">
                  <input type="submit" value="Delete Post" class="follow_btn">
                </form>
              </div>
            </li>
            <% end %>
          <% end %>
      </ul>
    </div>
  </div>
</div>





